






/* @group BODY
---------------------------------------------------------------------- */

body {
    font-family:"ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,sans-serif;
    font-size:93.75%;
    line-height:1.3333333em;
}

/* @end */



/* @group DEFAULT STYLING
---------------------------------------------------------------------- */

p,
ul,
dl,
ol {
    margin-bottom:1em;
}

ul li {
    margin-left:1em;
}
ul li strong:first-child {
    display:inline-block;
    width:1em;
    margin-left:-1em;
    color:#bd3632;
}

blockquote {
    background:#f8ebea;
    padding:1.333em;
}
blockquote p {
    font-style:italic;
}
blockquote cite {
    font-size:0.867em;
    line-height:1.4em;
    text-transform:uppercase;
}
blockquote p.cite {
    font-style:normal;
    margin:0;
}
blockquote cite p + p {
    text-transform:none;
    margin-left:0.8em;
}

strong {
    font-weight:bold;
}
strong.footnote {
    color:#bd3632;
}

em {
    font-style:italic;
}
sup {
    font-size:0.6em;
    position:relative;
    top:-0.6em;
    left:-0.1em;
}

::selection {
    background:#bd3632;
    color:#fff;
}
::-moz-selection {
    background:#bd3632;
    color:#fff;
}

p.soldout {
    background:#bd3632;
    color:#fff;
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Arial Narrow",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-size:1.5em;
    line-height:1em;
    padding:0.2em;
    margin-bottom:0.7em;
}

/* @end */



/* @group HEADINGS
---------------------------------------------------------------------- */

h1,h2,h3 { 
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Arial Narrow",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
	line-height:105%;
    -webkit-font-smoothing:subpixel-antialiased;
}
h1 {
    font-size:3.13333em;
    margin-bottom:0.4255em;
}

h2 { 
    font-size:2em;
    line-height:1em;
    margin-bottom:0.5em;
    color:#bd3632;
}
h2 span.author {
    font-family:"ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,sans-serif;
    font-size:15px;
    text-transform:none;
    font-style:italic;
    white-space:nowrap;
    line-height:1em;
}

h3 {
    font-size:1.6923em;
    margin-bottom:0.8em;
}

h4 {
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:0.75em;
}
p + h4 {
    padding-top:1em;
}
h5 {
	font-family:"ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,sans-serif;
	font-size:1em;
	font-weight:bold;
    margin-bottom:0.75em;
	border-top:1px solid #CCC;
	padding-top:1em;
}

/* @end */



/* @group LINKS
---------------------------------------------------------------------- */

a {
    color:#bd3632;
}
a:hover,
a:focus {
    color:#000;
}

/* @end */



/* @group GENERAL LAYOUT
---------------------------------------------------------------------- */

ul#navigation_pri,
div#page_title,
div#content_wrapper,
div#sponsors,
div#footer {
    padding:0 3.9216%;
}

div.block {
    background:#f8ebea;
    font-size:0.866667em;
    line-height:1.4615em;
    padding:1em;
    padding-bottom:0.1em;
    margin-bottom:1.1538em;
    overflow:hidden;
}
    div.block.author span.speaker {
        float:right;
        width:26%;
        margin:0.1em 0 0 0.5em;
    }
    
    div.block h3 {
        overflow:visible;
    }
    div.block h3 a {
        float:right;
        text-decoration:none;
        color:#fff;
        background:#bd3632;
        border-radius:5px;
        padding:0.2em 0.2em 0.1em 0.2em;
        position:relative;
        right:-0.2em;
        top:-0.2em;
    }
    div.block h3 a:hover,
    div.block h3 a:focus {
        background:#000;
    }

div.listing {
    border-top:1px solid #ccc;
    padding-top:1em;
    margin-bottom:;
    overflow:hidden;
}
    div.listing.break {
        background:#f8ebea;
        margin:0;
        border-color:#666;
    }
    div.listing.break + div.listing {
        border-top-color:#666;
    }
    div.listing.break + div.listing.break {
        border-top-color:#ccc;
        border-top-style:dotted;
    }
    
p.logo {
    border:2px solid #ccc;
    padding:1em;
    width:50%;
}

p.logo img {
    margin:0 auto;
    width:100%;
}

span.speaker {
    display:block;
}
span.speaker img {
    width:100%;
}

p.more {
    font-size:0.9em;
    line-height:1em;
    margin-bottom:1.3em;
}
    p.more a {
        text-decoration:none;
        color:#fff;
        background:#bd3632;
        border-radius:5px;
        font-weight:bold;
        display:inline-block;
        padding:0.5em;
    }
    p.more a:hover,
    p.more a:focus {
        background:#000;
    }

p.intro {
    font-size:1.2em;
    line-height:1.3333333em;
    border-bottom:1px solid #ccc;
    padding-bottom:1em;
}

/* @end */



/* @group HEADER
---------------------------------------------------------------------- */

div#header {
    background:#000;
}

#branding {
    height:96px;
    padding:1em 0;
    background:url(../img/logo.png) no-repeat 0 1em;
    margin:0 0 0 3.9216%;
    font-size:1em;
}
#branding img {
    display:none;
}
#branding a {
    display:block;
    height:96px;
}

div#event_info {
    background:#f8ebea;
    font-size:1.133333em;
    padding:0.8824em 3.9216%;
    margin-bottom:0.8824em;
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Arial Narrow",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
}
div#event_info p {
    margin:0;
}

/* @end */



/* @group NAVIGATION
---------------------------------------------------------------------- */

ul#navigation_pri {
    margin-bottom:3em;
    list-style: none
}
ul#navigation_pri li {
    margin:0;
    border-top:1px dotted #ccc;
}
ul#navigation_pri li:last-child {
    border-bottom:1px dotted #ccc;
}
ul#navigation_pri li a {
    display:block;
    text-decoration:none;
    padding:0.2em;
}
ul#navigation_pri li.cur,
ul#navigation_pri li.cur + li {
    border-top-style:solid;
    border-top-color:#bd3632;
}
ul#navigation_pri li.cur a {
   color:#fff;
   background:#bd3632;
}

/* @end */



/* @group FOOTER
---------------------------------------------------------------------- */

div#footer {
    background:#bd3632;
    color:#fff;
    overflow:hidden;
    padding-top:1em;
    padding-bottom:1em;
}
div#footer a {
    color:#de9a98;
}
div#footer a:hover,
div#footer a:focus {
    color:#fff;
}


div#footer p.twitter span {
    font-size:0.86667em;
    color:#de9a98;
}

div#footer ul {
    margin:0;
    font-size:0.86667em;
    line-height:1.4em;
    overflow:hidden;
}
div#footer ul li {
    margin:0;
}

/* @end */



/* @group SPONSORS SUB-FOOTER
---------------------------------------------------------------------- */

div#sponsors {
    background:#f0f0f0;
    padding-top:2.08333%;
    padding-bottom:2.08333%;
    margin-top:3em;
    border-top:1px solid #999;
}
div#sponsors ul {
    margin:0;
    overflow:hidden;
}
div#sponsors ul li {
    width:48.936%;
    float:left;
    margin:0 0 2.08333% 2.08333%;
    background:#fff;
    position:relative;
}
div#sponsors ul li:nth-child(2n+1) {
    margin-left:0;
    clear:both;
}
div#sponsors ul li h4 {
    position:absolute;
    top:1px;
    left:1px;
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Arial Narrow",Helvetica,Arial,sans-serif;
    color:#fff;
    background:#bd3632;
    font-size:0.93333em;
    line-height:1em;
    padding:0.2em;
}
div#sponsors ul li a {
    border:1px solid #ccc;
    display:block;
    padding:10%;
}
div#sponsors ul li a:hover,
div#sponsors ul li a:focus {
    border-color:#bd3632;
}
div#sponsors ul li img {
    width:100%;
}

/* @end */



/* @group HOME
---------------------------------------------------------------------- */

.home div#page_title {
    display:none;
}

/* SPEAKERS ---------- */
div.speakers ul {
    list-style:none;
    margin:0 0 2em 0;
}
div.speakers ul li {
    overflow:hidden;
    margin:0.666em 0 0 0;
}
div.speakers ul li:first-child {
    margin:0;
}
div.speakers ul li span.speaker {
    float:left;
    width:14.29%;
    margin:0 10px 0 0;
}
div.speakers ul li h3 {
    margin:0;
    line-height:1em;
}
div.speakers ul li p {
    color:#bd3632;
    font-size:0.8667em;
    font-style:italic;
    margin:0.1em 0 0 0;
}

/* PLUS ---------- */
div.plus ul {
    margin:0 0 2em 0;
}
div.plus ul li {
    margin-bottom:0.6667em;
}

/* QUOTES ---------- */
div.quotes {
    padding:0;
    margin-bottom:2em;
    line-height:1.5em;
}
div.quotes blockquote + blockquote {
    padding-top:0.5em;
}

/* @end */



/* @group CONFERENCE
---------------------------------------------------------------------- */

.conference div.listing {
    padding-left:0.6667em;
    padding-right:0.6667em;
}

.conference div.listing.break h4,
.conference div.listing.break p {
    display:inline-block;
}
.conference div.listing.break h4 {
    padding-right:0.6667em;
}

.conference div.listing.break:last-child {
    border-bottom:1px solid #666;
}

.conference div.listing img {
    float:right;
    width:26%;
    margin:0.1em 0 0 0.5em;
}

/* @end */



/* @group WORKSHOPS
---------------------------------------------------------------------- */

.workshops div.listing:first-child {
    margin-top:3em;
}

/* @end */



/* @group LOCATION
---------------------------------------------------------------------- */

ul.hotels {
    font-size:0.8667em;
    line-height:1.4615em;
    overflow:hidden;
}
ul.hotels li {
    margin:0 0 1em 0;
    width:45%;
    float:left;
    clear:both;
}
ul.hotels li:nth-child(2n) {
    float:right;
    clear:none;
}
ul.hotels li p {
    margin:0;
}
ul.hotels li p:first-child a {
    font-weight:bold;
}

/* @end */



/* @group SPONSORS
---------------------------------------------------------------------- */

.sponsors div#footer {
    margin-top:3em;
}



/* @group REGISTER
---------------------------------------------------------------------- */

.register div.block {
    margin:2em 0;
}



/* @group PAPER
---------------------------------------------------------------------- */

p.intro-paper {
	font-size:1.2em;
    line-height:1.3333333em;
    padding-bottom:0.5em;
	border-bottom:0;
}
.listing-image {
	border-top:0;
	padding-top:20px;
	padding-bottom:15px;
}
.listing-image img.paper-prev, .listing img.paper-prev {
	padding:0 0 18px 0;
    width:100%;
	height:auto;
}

.altlist ul li {
	list-style-type:square;
}

/* @end */

/* @end */