/*

    NACONF 2012
    
    FOR SCREENS LARGER THAN 940
    
*/



/* @group BODY
---------------------------------------------------------------------- */

body {
    font-size:100%;
}

/* @end */



/* @group HOME
---------------------------------------------------------------------- */

div.speakers ul li span.speaker {
    margin:0 10px 0 0;
}

div.speakers ul li p {
    font-size:0.8125em;
}

/* @end */



/* @group WORKSHOPS
---------------------------------------------------------------------- */

div.workshops_action h3 {
    font-size:1.6923em;
}

/* @end */