

body {
    font-size:112.5%;
    background:#000;
}

/* @end */



/* @group LAYOUT
---------------------------------------------------------------------- */

div#page {
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
    background:#fff;
}

/* HEADER ---------- */
    #branding {
        height:220px;
        width:575px;
    }

/* @end */

